/***************BASE STYLES**************/
* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}
h1 {
	text-align: center;
	margin-top: 15px;
	margin-bottom: 30px;
}
section {
	border: 1px solid black;
	position: relative;
	background-color: #41B3A3;
	font-family: "Comic Sans MS", cursive, sans-serif;
	margin: 10px;
}
h3 {
	font-weight: bold;
	position: absolute;
	right: 0;
	width: 150px;
	padding: 10px 0 10px 0;
	margin-top: 0;
	text-align: center;
	border: 1px solid black;
	float: right;
}
.row {
	width: 100%
	padding: 0 10px 0 10px;
}
p {
	padding: 10px;
	clear: both;
	font-size: 15px;
	margin: 2px;
}
#ch {
	background-color: #E27D60;
}
#bf {
	background-color: #C38D9E;
}
#sh {
	background-color: #E8A87C;
}
/*********Large Devices only**********/
		@media (min-width: 992px) {
			.col-lg-4{
				width: 33%;
				float: left;
			}		
		}


/************* Tablet Devices Only**************/
@media (min-width: 768px) and (max-width: 991px){
	.col-tb-6{
		float: left;
		width: 50%;
	}
	.col-tb-12 {
		clear: both;
	}
}
/************* mobile Devices Only**************/
@media (max-width: 767px){
	.col-tb-12 {
		width:100%;
	}
}
	